
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/**
 * Images a now responsive
 */
/*img {
	max-width: 100%;
	height: auto;
}*/

/**
 * Limit the container in
 * width for big screens
 */
.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;

}

.content{
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content a {
  text-decoration: none;
}

.item {
  width: 300px;
  padding: 10px 24px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin-bottom: 25px;

}
.item img{
  width: 350px;
  height: 350px;
}

.item__name{
  color: #03c2fc;
}
.item__price{
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.item_container{
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  width: 90%;
  padding: 40px 20px;
}
.item_container img{
  width: 350px;
  height: 350px;
}

/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in
 * small screens
 */
