.box {
    border-radius: 4px;
    padding: 15px;
    background: white;
    border: 1px solid #3333332b;
}

.spacer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.field {
    padding: 5px 15px;
    border: 1px solid #0000002e;
    background: #80808017;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    align-items: center;
}
