.cart_summary{
    width: 350px;
    float: right;
    margin-top: 10px;
}

.cart .cell {
    padding: 10px;
}

.cart .row {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.cart .row:first-child {
    border-bottom: 1px solid rgba(51, 51, 51, 0.37);
    padding: 10px 0;
}

.cart .row:last-child {
    border-bottom: 0;
    padding: 10px;
}

.cart_summary .submit-button {
    background: #d41d46;
    font-size: large;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    float: right;
    border: 0;
    display: flex;
    align-items: center;
}

.submit-button svg {
    padding-left: 15px;
}
